[Unit]
Description=gunicorn
Requires=project.socket
After=network.target


[Service]
User=root
Group=www-data
WorkingDirectory=/home/User/project
ExecStart=/usr/local/bin/gunicorn --access-logfile - --workers 3 --bind unix:/home/User/project/project.sock config.asgi:application -k uvicorn.workers.UvicornWorker


[Install]
WantedBy=multi-user.target
